<div class="wrapper">
  <div class="container-fluid title">
    <p class="card-title">KLIENCI</p>
  </div>



  <div class="col-sm-8 table-content">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Aktywny</th>
        <th scope="col">Email</th>
        <th scope="col">VIP</th>
        <th scope="col">Podejrzany</th>
        <th scope="col">Zablokowany</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cus of customers">
        <th scope="row">{{cus.id}}</th>
        <th scope="row">{{cus.name}}</th>
        <ng-container *ngIf="cus.active === true">
          <td>Tak</td>
        </ng-container>
        <ng-container *ngIf="cus.active === false">
          <td>Nie</td>
        </ng-container>
        <th scope="row">{{cus.email}}</th>
        <ng-container *ngIf="cus._vip === true">
          <td>Tak</td>
        </ng-container>
        <ng-container *ngIf="cus._vip === false">
          <td>Nie</td>
        </ng-container>
        <ng-container *ngIf="cus._fraud === true">
          <td>Tak</td>
        </ng-container>
        <ng-container *ngIf="cus._fraud === false">
          <td>Nie</td>
        </ng-container>
        <ng-container *ngIf="cus._banned === true">
          <td>Tak</td>
        </ng-container>
        <ng-container *ngIf="cus._banned=== false">
          <td>Nie</td>
        </ng-container>
        <td></td>

        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="getaddress(cus.id)">Adresy Klienta</a></li>
              <li><a class="dropdown-item" (click)="orders(cus.id)">Zamówienia</a></li>
              <li><a class="dropdown-item" (click)="banned(cus.id)">Banowanie</a></li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
