<div class="wrapper">
  <div class="container-fluid title">
    <p class="card-title">MAGAZYNY</p>
    <div class="refresh">
      <button (click)="catchement()">POKAŻ OBSZAR DZIALANIA</button>
    </div>
  </div>



  <div class="col-sm-8 table-content">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Aktywny</th>
        <th scope="col">Domyślny</th>
        <th scope="col">Otwarty od</th>
        <th scope="col">Otwarty do</th>
        <th scope="col">Czasowo zamknięty</th>
        <th scope="col">Adres</th>
        <th scope="col">Akcja</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mag of store">
        <th scope="row">{{mag.id}}</th>
        <ng-container *ngIf="mag.active === true">
          <td>Tak</td>
        </ng-container>
        <ng-container *ngIf="mag.active === false">
          <td>Nie</td>
        </ng-container>
        <ng-container *ngIf="mag.defoult === true">
          <td>Tak</td>
        </ng-container>
        <ng-container *ngIf="mag.defoult === false">
          <td>Nie</td>
        </ng-container>
        <td>{{mag.open_from}}</td>
        <td>{{mag.open_to}}</td>
        <ng-container *ngIf="mag.temporaryavaiable === true">
          <td>Tak</td>
        </ng-container>
        <ng-container *ngIf="mag.temporaryavaiable === false">
          <td>Nie</td>
        </ng-container>
        <td>{{mag.addresses.street + ' ' +  mag.addresses.street_number}}</td>
        <td></td>

        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="activeStore(mag.id)">Aktywuj/Dezaktywuj</a></li>
<!--              <li><a class="dropdown-item" (click)="changeStore(mag.id)">Edytuj</a></li>-->
              <li><a class="dropdown-item" (click)="changeHours(mag.id)">Zmień godziny otwarcia</a></li>
              <li><a class="dropdown-item" (click)="changeTempAvaiable(mag.id)">Czasowo niedostępny</a></li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
