.wrapper{
  width: 90vw;
  height: 70vh;
  margin: auto;
  /*background-color: #495057;*/
  overflow-y: scroll;
}

.table-content{
  margin: auto;
}

.title{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
}

button.addProductBtn{
  width: 150px;
  height: 35px;
  border-radius: 18px;
  border: 1px solid darkgreen;
  color: white;
  background-color: darkgreen;
}

button.addProductBtn:hover{
  opacity: .7;
  cursor: pointer;
}


.filed-content{
  display: flex;
  flex-direction: column;
}

.filed{
  margin: auto;
  width: 70%;
}

.img-prod {
  width: 40px;
  height: 40px;
}

.img-btn{
  border: none;
  background-color: white;
}

.refresh{
  margin-left: 75%;
}

.refreshbtn{
  padding: 2px;
  border: 1px solid black;
  background-color: #6ca0d6;
  color: black;
  font-size: 16px;
}

