<div class="container">
  <h2>Edytuj Produkt o id: {{model.id}}</h2>
  <form #formEditProduct="ngForm" (ngSubmit)="editProduct(formEditProduct)">
    <mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput name="id" [readonly]="true" [(ngModel)]="model.id">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nazwa</mat-label>
        <input matInput required name="name" [(ngModel)]="model.name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Opis</mat-label>
        <input matInput name="description" required [(ngModel)]="model.description">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ean</mat-label>
        <input matInput name="ean" required [(ngModel)]="model.ean">
      </mat-form-field>

      <mat-form-field appearance="fill" class="filed">
        <mat-label>Jednostka</mat-label>
        <mat-select [(ngModel)]="unitModel.unit" name="unit" required>
          <mat-option *ngFor=" let u of unitModel" [value]="u.id">{{u.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="filed">
        <mat-label>Kategoria</mat-label>
        <mat-select [(ngModel)]="categoryModel.category " name="category" required
                    (selectionChange)="changeCategory($event.value)">
          <mat-option *ngFor=" let categoryTree of categoryModel"
                      [value]="categoryTree.id">{{categoryTree.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="filed">
        <mat-label>Subkategoria</mat-label>
        <mat-select [(ngModel)]="editModel" name="subcategory" required>
          <mat-option *ngFor=" let sub of subcategoryModel" [value]="sub.id">{{sub.name}}</mat-option>
        </mat-select>
      </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions class="action">
      <button mat-button mat-dialog-close="true" [disabled]="!formEditProduct.valid" type="submit">Zapisz</button>
      <button mat-button mat-dialog-close="true">Anuluj</button>
    </mat-dialog-actions>
  </form>
</div>

