<form #formEditHour="ngForm" (ngSubmit)="EditHour()">
  <mat-form-field appearance="fill">
    <mat-label>Godzina otwarcia</mat-label>
    <mat-select #fontSize  (selectionChange)="changeHourFrom($event.value)" required>
      <mat-option value="06:00">06:00</mat-option>
      <mat-option value="07:00">07:00</mat-option>
      <mat-option value="08:00">08:00</mat-option>
      <mat-option value="09:00">09:00</mat-option>
      <mat-option value="10:00">10:00</mat-option>
      <mat-option value="11:00">11:00</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Godzina zamknięcia</mat-label>
    <mat-select #fontSize  (selectionChange)="changeHourTo($event.value)" required>
      <mat-option value="16:00">16:00</mat-option>
      <mat-option value="17:00">17:00</mat-option>
      <mat-option value="18:00">18:00</mat-option>
      <mat-option value="19:00">19:00</mat-option>
      <mat-option value="20:00">20:00</mat-option>
      <mat-option value="21:00">21:00</mat-option>
      <mat-option value="22:00">22:00</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button mat-dialog-close="true" type="submit" >Zapisz</button>
  <button mat-button mat-dialog-close="true" >Anuluj</button>
</form>

