<form (ngSubmit)="onSubmit($event)">
  <mat-form-field appearance="fill" class="formAdd">
    <mat-label>Wprowadź ilość</mat-label>
    <input matInput type="number" min="1" max="90" name="qty" value="number">
  </mat-form-field>

  <button mat-button mat-dialog-close="true" type="submit" >Zapisz</button>
  <button mat-button mat-dialog-close="true" >Anuluj</button>
</form>

