<div class="wrapper">
  <div class="container-fluid title">
    <p class="card-title">Produkty</p>
    <div class="refresh">
      <button  refreshbtn (click)="refresh()">Odśwież</button>
    </div>
  </div>
  <!--  <button class="addProductBtn">Dodaj Produkt</button>-->
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
          Dodaj Produkt
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
           data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="container">
            <h2>Dodaj Produkt</h2>
            <form #formProduct="ngForm" (ngSubmit)="addProduct(formProduct)">
              <mat-dialog-content class="filed-content">
                <mat-form-field appearance="fill" class="filed">
                  <mat-label>Nazwa</mat-label>
                  <input matInput [(ngModel)]="model.name" name="name">
                </mat-form-field>

                <mat-form-field appearance="fill" class="filed">
                  <mat-label>Opis</mat-label>
                  <input matInput [(ngModel)]="model.description" name="description">
                </mat-form-field>

                <mat-form-field appearance="fill" class="filed">
                  <mat-label>Ean</mat-label>
                  <input matInput [(ngModel)]="model.ean" name="ean">
                </mat-form-field>


                <mat-form-field appearance="fill" class="filed">
                  <mat-label>Czy Aktywny</mat-label>
                  <mat-select [(ngModel)]="model.is_active" name="active">
                    <mat-option value="1">Tak</mat-option>
                    <mat-option value="0">Nie</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="filed">
                  <mat-label>Kategoria</mat-label>
                  <mat-select [(ngModel)]="model.category " name="category"
                              (selectionChange)="changeCategory($event.value)">
                    <mat-option *ngFor=" let categoryTree of category"
                                [value]="categoryTree.id">{{categoryTree.name}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="filed">
                  <mat-label>Subkategoria</mat-label>
                  <mat-select [(ngModel)]="model.subcategory" name="subcategory">
                    <mat-option *ngFor=" let sub of subcategory" [value]="sub.id">{{sub.name}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="filed">
                  <mat-label>Jednostka</mat-label>
                  <mat-select [(ngModel)]="model.unit" name="unit">
                    <mat-option *ngFor=" let u of unit" [value]="u.id">{{u.name}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </mat-dialog-content>
              <mat-dialog-actions>
                <button mat-button type="submit" [disabled]="!formProduct.valid">Zapisz</button>
              </mat-dialog-actions>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 table-content">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ean</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Opis</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Kategoria Aktywny</th>
        <th scope="col">Podkategoria</th>
        <th scope="col">Jednostka</th>
        <th scope="col">Zdjęcie</th>
        <th scope="col">Aktywny</th>
        <th scope="col">Akcja</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prod of products">
        <th scope="row">{{prod.id}}</th>
        <td>{{prod.ean}}</td>
        <td>{{prod.name}}</td>
        <td>{{prod.description}}</td>
        <td>{{prod.categoryName}}</td>
        <ng-container *ngIf="prod.categoryActive === true">
          <td>Tak</td>
        </ng-container>
        <ng-container *ngIf="prod.categoryActive === false">
          <td>Nie</td>
        </ng-container>
        <td>{{prod.subcategoryName}}</td>
        <td>{{prod.unitName}}</td>
        <td>
          <ng-container *ngIf="prod.photo !== null">
            <button class="img-btn" (click)="resizePhoto(prod.photo)">
              <img class="img-prod" src="data:image/png;base64,{{prod.photo}}"/></button>
          </ng-container>
          <ng-container *ngIf="prod.photo == null">
            <div class="form-group">
              <input type="file" id="file" class="file-input" accept=".png, .jpg, .jpeg"
                     (change)="onFileSelected($event)" #uploadPhotoInput/>
              <button (click)="addPhoto(prod.id)">Dodaj</button>
            </div>
          </ng-container>
        </td>
        <ng-container *ngIf="prod.active === true">
          <td>Tak</td>
        </ng-container>
        <ng-container *ngIf="prod.active === false">
          <td>Nie</td>
        </ng-container>

        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="changeStatus(prod.id)">Aktywuj/Dezaktywuj</a></li>
              <li><a class="dropdown-item" (click)="editProduct(prod)">Edytuj</a></li>
              <li><a class="dropdown-item" (click)="deletePhoto(prod.id)">Usuń zdjęcie</a></li>
              <li><a class="dropdown-item" (click)="deleteProduct(prod.id)">Usuń produkt</a></li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>


    </table>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
