<div class="container">
  <h2>Dodaj Kontrahenta</h2>
  <form  #form="ngForm" (ngSubmit)="saveContractor(form)">
    <mat-dialog-content >
      <mat-form-field appearance="fill">
        <mat-label>Nazwa</mat-label>
        <input matInput  required name="login"  [(ngModel)]="model.name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Adres</mat-label>
        <input matInput name="address" required  [(ngModel)]="model.address">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Miejscowość</mat-label>
        <input matInput name="city" required  [(ngModel)]="model.city">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Kod Pocztowy</mat-label>
        <input matInput name="postal" required  [(ngModel)]="model.postalCode">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Telefon</mat-label>
        <input matInput name="phone" required  [(ngModel)]="model.phone">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nip</mat-label>
        <input matInput name="nip" required  [(ngModel)]="model.nip">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" required  [(ngModel)]="model.email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Typ Kontrahenta</mat-label>
        <mat-select name="role"  [(ngModel)]="model.contractorType" >
          <mat-option value="" required>Dostawca</mat-option>
          <mat-option value="" required>Odbiorca</mat-option>
        </mat-select>
      </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions class="action">
      <button mat-button mat-dialog-close="true" [disabled]="!form.valid" type="submit" >Zapisz</button>
      <button mat-button mat-dialog-close="true">Anuluj</button>
    </mat-dialog-actions>
  </form>
</div>
