<form (ngSubmit)="onSubmit($event)">
  <mat-form-field appearance="fill" class="formAdd">
    <mat-label>Wprowadź cenę promocyjną</mat-label>
    <input matInput type="number"  name="price" value="number">
  </mat-form-field>

  <button mat-button mat-dialog-close="true" type="submit" >Zapisz</button>
  <button mat-button mat-dialog-close="true" >Anuluj</button>
</form>
