.badge {
  color: white;
  background-color: darkgreen;
  margin-left: 10px;
  align-items: end;
  font-weight: normal;
}

.col-sm-3 {
  height: 50vh;
}

.tree{
  height: 50vh;
  overflow-y: scroll;
}

.list-group-item-primary {
  color: black;
  font-weight: bold;
}

.list-group-item-light {
  color: black;
}

.change {
  border: none;
  background-color: #cfe2ff;
}

.change-sub {
  border: none;
  background-color: white;
}

.card-title {
  font-weight: bold;
  font-size: 22px;
  margin: 2% auto 3% auto;
}

div.title {
  display: flex;
}

div.container.plus-buttons button {
  margin-bottom: 2%;
  margin-left: 2%;
  border-radius: 12px;
  font-size: 12px;
}


.inputs {
  width: 35%;
  margin-left: 15px;
  padding-top: 2%;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.field {
  width: 90%;
}

.btn_group {
  margin-top: 30px;
  line-height: 13px;
  border-radius: 18px;
  width: 120px;
  height: 35px;
  padding: 2px;
  color: white;
}

.btn_group:hover{
  opacity: .7;
  cursor: pointer;
}

.save {
  background-color: darkgreen;
}

.first{
  margin-top: 105px;
}
