<div class="container-fluid title">
  <p class="card-title">KATEGORIE</p>
</div>
<div class="container plus-buttons">
  <button class="btn btn-primary" (click)="refresh()">Odśwież drzewo Kategorii <i class="bi bi-arrow-repeat"></i>
  </button>
  <!--  <button class="btn btn-primary">Dodaj kategorie</button>-->
  <!--  <button class="btn btn-primary">Dodaj subkategorie</button>-->
  <!--  <button class="btn btn-primary">Dodaj produkt</button>-->
</div>

<div class="container main">
  <div class="row">
    <div class="col-sm-3 category tree">
      <ul class="list-group" *ngFor="let tree of categoryTree">
        <li class="list-group-item list-group-item-primary" style="display: flex">{{tree.name}}
          <ng-container *ngIf="tree._active">
            <div style="margin-left: 10px">
              <button class="change" (click)="switchActive(tree.id)"><i class="bi bi-arrow-left-right"></i></button>
              <span class="badge badge-success">Aktywny</span>
            </div>
          </ng-container>
          <ng-container *ngIf="!tree._active">
            <div style="">
              <button class="change" (click)="switchActive(tree.id)"><i class="bi bi-arrow-left-right"></i></button>
              <button class="change" style="color: red" (click)="deleteCategoryDialog(tree.id)"><i
                class="bi bi-trash"></i></button>
              <span class="badge badge-danger" style="background-color: red">Nieatywny</span>
            </div>
          </ng-container>
        </li>
        <ul *ngFor="let sub of tree.subcatecories">
          <li class="list-group-item list-group-item-light" style="display: flex">{{sub.name}}
            <ng-container *ngIf="sub._active">
              <div style="margin-left: 30px">
                <button class="change-sub" (click)="switchActive(sub.id)"><i class="bi bi-arrow-left-right"
                                                                             style="background-color: white"></i>
                </button>
                <span class="badge badge-success">Aktywny</span>
              </div>
            </ng-container>
            <ng-container *ngIf="!sub._active">
              <div style="margin-left: 10px">
                <button class="change-sub" (click)="switchActive(sub.id)"><i class="bi bi-arrow-left-right"></i>
                </button>
                <button class="change-sub" style="color: red" (click)="deleteSubcategory(sub.id)"><i
                  class="bi bi-trash"></i></button>
                <span class="badge badge-danger" style="background-color: red">Nieatywny</span>
              </div>
            </ng-container>
          </li>
        </ul>
      </ul>
    </div>

    <div class="col-4 inputs">
      <div class="container">
        <h2>Dodaj Kategorie</h2>
        <form #formCat="ngForm" (ngSubmit)="addCategory(formCat)">
            <mat-form-field appearance="fill" class="field">
              <mat-label>Nazwa</mat-label>
              <input matInput [(ngModel)]="categoryModel.name" name="name">
            </mat-form-field>

            <mat-form-field appearance="fill" class="field">
              <mat-label>Czy Aktywny</mat-label>
              <mat-select [(ngModel)]="categoryModel.is_active" name="acive">
                <mat-option value="true">Tak</mat-option>
                <mat-option value="false">Nie</mat-option>
              </mat-select>
            </mat-form-field>
            <button class="btn_group save first" mat-button type="submit"
                    [disabled]="!formCat.valid">Zapisz
            </button>
        </form>
      </div>
    </div>

    <div class="col-3 inputs">
      <div class="container">
        <h2>Dodaj Subkategorie</h2>
        <form #subForm="ngForm" (ngSubmit)="addSubCategory(subForm)">
            <mat-form-field appearance="fill" class="field">
              <mat-label>Nazwa</mat-label>
              <input matInput [(ngModel)]="subcategoryModel.name" name="name">
            </mat-form-field>

            <mat-form-field appearance="fill" class="field">
              <mat-label>Czy Aktywny</mat-label>
              <mat-select [(ngModel)]="subcategoryModel.is_active" name="acive">
                <mat-option value="true">Tak</mat-option>
                <mat-option value="false">Nie</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="field">
              <mat-label>Kategoria</mat-label>
              <mat-select [(ngModel)]="subcategoryModel.parent_id" name="acive">
                <mat-option *ngFor=" let categoryTree of category"
                            [value]="categoryTree.id">{{categoryTree.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button class="btn_group save" mat-button type="submit" [disabled]="!subForm.valid">
              Zapisz
            </button>
        </form>
      </div>
    </div>
  </div>
</div>
