<form #formEditHour="ngForm" (ngSubmit)="changeAtribute()">
  <mat-form-field class="open" appearance="fill">
    <mat-label>NOWY</mat-label>
    <mat-select #fontSize  (selectionChange)="changeNew($event.value)" required>
      <mat-option value="true">TAK</mat-option>
      <mat-option value="false">NIE</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="open" appearance="fill">
    <mat-label>ZIMNY</mat-label>
    <mat-select #fontSize  (selectionChange)="changeCold($event.value)" required>
      <mat-option value="true">TAK</mat-option>
      <mat-option value="false">NIE</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="open" appearance="fill">
    <mat-label>HIT</mat-label>
    <mat-select #fontSize  (selectionChange)="changeHit($event.value)" required>
      <mat-option value="true">TAK</mat-option>
      <mat-option value="false">NIE</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button mat-dialog-close="true" type="submit" >Zapisz</button>
  <button mat-button mat-dialog-close="true" >Anuluj</button>
</form>
