<div class="container d-flex justify-content-center align-items-center">
  <div class="card">
    <form #form="ngForm" (ngSubmit)="postLogin(form)">
      <div class="p-3 border-bottom d-flex align-items-center justify-content-center">
        <h3>Logowanie</h3>
      </div>
      <div class="bg-danger text-white p-2 mb-2" *ngIf="errorFlag">
        Login lub hasło są niepoprawne
      </div>
      <div class="p-3 px-4 py-4 border-bottom">
        <input type="text" class="form-control mb-2" placeholder="Nazwa Użytkownika" [(ngModel)]="model.login" name="login" required/>
        <div class="form">
          <input type="password" class="form-control" placeholder="Hasło" [(ngModel)]="model.password" name="password" required/>
        </div>

        <button class="btn btn-danger btn-block continue" type="submit" [disabled]="form.invalid">Zaloguj</button>
      </div>
    </form>
  </div>
  <div>{{userLogin}}</div>
