@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300
}

.container {
  height: 100vh
}

.card {
  width: 400px;
  border: none
}

.form-control {
  border: 2px solid #bdc1d2;
  font-size: 13px;
  height: 48px
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f7bfd9;
  outline: 0;
  box-shadow: none
}

.form {
  position: relative;
  margin-bottom: 25px
}

.form a {
  position: absolute;
  right: 8px;
  bottom: 10px;
  color: #6ca0d6;
  font-size: 13px;
  text-decoration: none;
  z-index: 10;
  background-color: #fff;
  padding: 5px
}

.continue {
  height: 48px;
  width: 100px;
  font-size: 13px;
  background-color: blue;
  border: none;
  margin-left: 70%;
  text-transform: uppercase;
}

.ng-invalid.ng-touched:not(form){
  border: 3px solid red;
}



