.users {
  /*margin-top: 2%;*/
  background-color: lightgrey;
  height: 5%;
  /*justify-content: center;*/
  display: flex;
}

.users p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15%;
  padding-top: 1%;
}

table {
  width: 100%;
  font-size: 16px;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row-is-clicked {
  font-weight: bold;
}

.edit {
  background-color: lightgreen;
}

.delete {
  background-color: lightcoral;
}

.actionbtn {
  color: black;
  width: 100px;
}

.nav {
  margin-left: 75%;
}

.text-main {
  font-size: 17px;
}

.users{
  min-height: 16%;
}

