<!--<app-employee-nav></app-employee-nav>-->

<div class="users container-fluid">
  <p>Pracownicy</p>
</div>
<div class="container">
  <div class="nav">
    <button type="button" class="btn btn-primary mb-4 mt-4 text-main" (click)="openAddDialog()">
      <mat-icon style="font-size: 19px">person_add</mat-icon> Dodaj Pracownika</button>
    <button type="button" class="btn btn-primary mb-4 mt-4 ms-5 text-main" (click)="refresh()">
      <mat-icon style="font-size: 19px" aria-hidden="false">autorenew</mat-icon></button>
  </div>

  <table mat-table [dataSource]="employees" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>login</th>
      <td mat-cell *matCellDef="let element">{{element.login}}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>rola</th>
      <td mat-cell *matCellDef="let element">{{element.role}}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>aktywny</th>
      <td mat-cell *matCellDef="let element">{{element.active}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Akcja</th>
      <td mat-cell *matCellDef="let element">
        <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
          <mat-button-toggle class="edit actionbtn" value="red" (click)="changeActive(element.id)"
                             *ngIf="element.active === true">Dezaktywuj
          </mat-button-toggle>
          <mat-button-toggle class="edit actionbtn" value="red" (click)="changeActive(element.id)"
                             *ngIf="element.active === false">Aktywuj
          </mat-button-toggle>
          <mat-button-toggle class="delete actionbtn" value="green" (click)="deleteEmployee(element.id)">
            <mat-icon>delete_forever</mat-icon> Usuń
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns; "
      (click)="onRowClicked(row)"
    ></tr>
  </table>
</div>


