``<div class="program-info">
  <div class="info container-fluid mb-3 mt-3 ms-4">Program magazynowy&nbsp; <b>WMS</b> &nbsp;&nbsp; Wersja: 1.1.0 &nbsp;&nbsp;Zalogowany
    użytkownik: {{user}}
  </div>
  <nav class="navbar navbar-expand ">
    <div class="container-fluid ms-5 mb-3">

      <a><button mat-raised-button routerLink="./home"><mat-icon style="margin-bottom: 1px">home</mat-icon> STRONA GŁÓWNA</button></a>

      <button mat-raised-button [matMenuTriggerFor]="documents">	<mat-icon>library_books</mat-icon> DOKUMENTY</button>
      <mat-menu #documents="matMenu" yPosition="above">
        <button mat-menu-item>Dokument 1</button>
        <button mat-menu-item>Dokument 2</button>
      </mat-menu>

      <button mat-raised-button [matMenuTriggerFor]="products"><mat-icon> category</mat-icon> TOWARY</button>
      <mat-menu #products="matMenu" yPosition="above">
        <button mat-menu-item routerLink="./category">Kategorie</button>
        <button mat-menu-item routerLink="./product">Kartoteka Produktów</button>
      </mat-menu>

      <button mat-raised-button [matMenuTriggerFor]="raports"><mat-icon> money</mat-icon> RAPORTY</button>
      <mat-menu #raports="matMenu" yPosition="above">
        <button mat-menu-item>Raport 1</button>
        <button mat-menu-item>Raport 2</button>
      </mat-menu>

      <button mat-raised-button [matMenuTriggerFor]="employee"><mat-icon>people</mat-icon> KONTRAHENCI</button>
      <mat-menu #employee="matMenu" yPosition="above">
        <a style="text-decoration: none"><button mat-menu-item routerLink="./employee">
          <mat-icon>people</mat-icon> Pracownicy</button></a>
        <button mat-menu-item routerLink="./contractors"><mat-icon>redo</mat-icon> Dodaj Kontrahenta</button>
      </mat-menu>

      <button mat-raised-button [matMenuTriggerFor]="stock"><mat-icon>settings_input_component</mat-icon> MAGAZYN</button>
      <mat-menu #stock="matMenu" yPosition="below">
        <a style="text-decoration: none"><button mat-menu-item routerLink="./store">Magazyny</button></a>
        <button mat-menu-item routerLink="./stock">Stany magazynowe</button>
      </mat-menu>

      <a><button mat-raised-button routerLink="./clients"><mat-icon>supervised_user_circle</mat-icon>KLIENCI</button></a>

      <button mat-raised-button exit color="warn" style="margin-left: 10%" (click)="logout()">WYLOGUJ</button>
    </div>
  </nav>
<!--  <div class="row-exemple ml-5">-->
<!--    <button mat-button color="primary">-->
<!--      <mat-icon aria-hidden="false">home</mat-icon>-->
<!--    </button>-->
<!--    <button mat-button color="primary">Ikona1</button>-->
<!--    <button mat-button color="primary">Ikona1</button>-->
<!--  </div>-->
</div>

``
