.mat-raised-button{
  min-width: 10%;
  margin-right: 5px;
}

.container-fluid{
  justify-content: start;
}

.exit{
  /*justify-content: flex-end;*/
  margin-left: 450px;
}

.mat-stroked-button{
  justify-content: end;
}

.mat-raised-button:hover{
  font-weight: bold;
}




