.text{
  width: 70%;
  text-align: center;
  margin: auto;
  padding-bottom: 2%;
}

.btn{
  margin-top: 2%;
  width: 70%;
  float: right;
}

button{
  text-decoration: none;
  width:80px;
  height: 32px;
  border: none;
}

button.delete{
  margin-right: 10px;
  background-color: red;
  color: white;
}

button:hover{
  cursor: pointer;
  opacity: 0.5;
}

button.exit{
  background-color: #495057;
  color: white;
}

i.icon{
  font-size: 40px;
  color: red;
}
