<div class="image"><i class="bi bi-exclamation-diamond icon"></i></div>
<div class="text">
  Operacja jest nie odwracalna. Czy napewno chcesz usunąć kategorię?
  Jesli kategoria posiada subkategorie zostaną one również usunięte.
</div>
<div class="btn">
  <mat-dialog-actions class="action">
    <button mat-button mat-dialog-close="true" type="submit" (click)="deleteCategory()">Usuń</button>
    <button mat-button mat-dialog-close="true">Anuluj</button>
  </mat-dialog-actions>
</div>
