@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.container-fluid{
  margin: auto;
}

.suppliers {
  width: 100%;
  margin-left:1%;
  background-color: lightgrey;
  min-height: 5%;
  display: flex;
}

.suppliers p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15%;
  padding-top: 1%;
}

body{
  font-family: 'Open Sans', sans-serif;

}
.search{
  top:6px;
  left:10px;
}

.form-control{
  border:none;
  padding-left:32px;
}

.form-control:focus{
  border:none;
  box-shadow:none;
}

.green{
  color:green;
}

.add{
  margin-left: 59%;
  background-color: darkgreen;
  color:  white;
  text-decoration:  none;
}

.add:hover{
  background-color: green;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
  line-height: 1px;
}

.filter-btn{
  margin-left: 10%;
  margin-top: 1%;
}

.filter{
  margin-left: 0.5%;
}

.form-control{
  max-height: 50px;
}
