<div class="suppliers container-fluid">
  <p>Kontrahenci</p>
  <button type="button" class="btn btn-outline-success mt-2 mb-2 add" (click)="addContractor()">Dodaj Kontrahenta
  </button>
</div>
<div class="filter-btn">
  <button type="button" class="btn btn-outline-primary filter" (click)="customerFilter()">Odbiorcy</button>
  <button type="button" class="btn btn-outline-warning filter" (click)="supliersFilter()">Dostawcy</button>
  <button type="button" class="btn btn-outline-info filter" (click)="allFilter()">Wszyscy</button>
  <form class="btn-group" enctype="multipart/form-data">
    <input class="form-control" #uploadContractorInput type="file"
           (change)="onChange($event)">
    <button (click)="onUpload()"
            class="btn btn-success">
      Wczytaj
    </button>
<!--    <button class="btn btn-success" style="width: 200px" type="button" (click)="onUpload()">-->
<!--      <ng-container *ngIf="spinnerFlag">-->
<!--      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
<!--      </ng-container>-->
<!--      Wczytaj-->
<!--    </button>-->
  </form>
</div>


<div class="container mt-5 px-2">
  <div class="mb-2 d-flex justify-content-between align-items-center">
    <div class="position-relative">
      <span class="position-absolute search"><i class="fa fa-search"></i></span>
      <input class="form-control w-100" placeholder="Szukaj..." type="text" name="searchTerm"
             [(ngModel)]="searchTerm" (input)="search(searchTerm)" />
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-responsive table-borderless">
      <thead>
      <tr class="bg-light">
        <th scope="col" width="5%">Id</th>
        <th scope="col" width="5%">Nazwa</th>
        <th scope="col" width="5%">Status</th>
        <th scope="col" width="20%">Adres</th>
        <th scope="col" width="20%">Miejscowość</th>
        <th scope="col" width="10%">Kod Pocztowy</th>
        <th scope="col" width="10%">Telefon</th>
        <th scope="col" class="text-end" width="10%"><span>Nip</span></th>
        <th scope="col" class="text-end" width="5%"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contractor of contractors | searchFilter: searchTerm;">
        <td>{{contractor.id}}</td>
        <td>{{contractor.name}}</td>
        <td>
          <div class="status" style="background-color: orange; width: 20px; height: 20px"
               *ngIf="contractor.contractorTypeId==1"></div>
          <div class="status" style="background-color: blue; width: 20px; height: 20px"
               *ngIf="contractor.contractorTypeId==2"></div>
        </td>
        <td>{{contractor.address}}</td>
        <td>{{contractor.city}}</td>
        <td>{{contractor.postalCode}}</td>
        <td>{{contractor.phone}}</td>
        <td class="text-end">{{contractor.nip}}</td>
        <td>
          <button style="margin-top: 0" mat-icon-button [matMenuTriggerFor]="products">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #products="matMenu" yPosition="above">
            <button mat-menu-item (click)="editContractor(contractor)">Edytuj</button>
            <button style="color: red" mat-menu-item (click)="deleteContractor(contractor.id)">Usuń</button>
            <button mat-menu-item>Historia</button>
          </mat-menu>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
