/* You can add global styles to this file, and also import other style files */
html, body { height: 99%; width: 99% }
body
{ margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0 }
