<div class="container-fluid title">
  <p class="card-title">STANY MAGAZYNOWE</p>
</div>
<div class="btns">
  <mat-form-field appearance="fill">
    <mat-label>Wybierz magazyn</mat-label>
    <mat-select (selectionChange)="changeMag($event.value)">
      <mat-option *ngFor=" let mag of store" [value]="mag.id">Magazyn {{mag.id}},
        ul. {{mag.addresses.street}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-sm-8 table-content">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Magazyn</th>
      <th scope="col">Produkt</th>
      <th scope="col">Ilość</th>
      <th scope="col">Cena</th>
      <th scope="col">Hit</th>
      <th scope="col">Promo</th>
      <th scope="col">Zimny</th>
      <th scope="col">Nowy</th>
      <th scope="col">Zarezerwowana ilość</th>
      <th scope="col">Cena przed promo</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stockId of stock">
      <th scope="row">{{stockId.id}}</th>
      <th scope="row">{{stockId.store}}</th>
      <th scope="row">{{stockId.productsName}}</th>
      <th scope="row">{{stockId.quantity}}</th>
      <th scope="row">{{stockId.price}}</th>
      <ng-container *ngIf="stockId.hit === true">
        <td>Tak</td>
      </ng-container>
      <ng-container *ngIf="stockId.hit === false">
        <td>Nie</td>
      </ng-container>
      <ng-container *ngIf="stockId.promo === true">
        <td>Tak</td>
      </ng-container>
      <ng-container *ngIf="stockId.promo === false">
        <td>Nie</td>
      </ng-container>
      <ng-container *ngIf="stockId.cold === true">
        <td>Tak</td>
      </ng-container>
      <ng-container *ngIf="stockId.cold === false">
        <td>Nie</td>
      </ng-container>
      <ng-container *ngIf="stockId._new === true">
        <td>Tak</td>
      </ng-container>
      <ng-container *ngIf="stockId._new === false">
        <td>Nie</td>
      </ng-container>
      <th scope="row">{{stockId.reservedQuantity}}</th>
      <th scope="row">{{stockId.priceBeforePromo}}</th>
      <th></th>

      <td></td>

      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" (click)="addToStock(stockId.productId)">Dodaj na stan</a></li>
            <li><a class="dropdown-item" (click)="minusFromStock(stockId.productId)">Odejmij ze stanu</a></li>
            <li><a class="dropdown-item" (click)="setAtribute(stockId.productId, stockId.hit, stockId.cold, stockId._new)">Ustaw atrybuty</a></li>
            <li><a class="dropdown-item" (click)="setPromo(stockId.productId, stockId.promo)">Włącz / wyłącz promocję</a></li>
            <li><a class="dropdown-item"  (click)="changePrice(stockId.productId)">Zmień cenę</a></li>
          </ul>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

