<div class="container">
  <h2>Dodaj pracownika</h2>
  <form #form="ngForm" (ngSubmit)="saveEmployee(form)">
    <mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput [(ngModel)]="model.login" name="login">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Hasło</mat-label>
        <input matInput type="password" [(ngModel)]="model.password" name="password">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Rola</mat-label>
        <mat-select [(ngModel)]="model.role" name="role">
          <mat-option value="user">User</mat-option>
          <mat-option value="admin">Admin</mat-option>
        </mat-select>
      </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close="true" type="submit" [disabled]="!form.valid">Zapisz</button>
      <button mat-button mat-dialog-close="true">Anuluj</button>
    </mat-dialog-actions>
  </form>
</div>
